{
  //"extends": "airbnb",
  //"extends": "standard",
  //"extends": "steelbrain",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "semi": 2,
    "one-var": 0,
    "no-unused-vars": 0,
    "max-len": 0,
    "arrow-parens": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-multiple-empty-lines": 0,
    "block-spacing": 2,
    "comma-dangle": 0,
    "comma-style": 2,
    "eol-last": 2,
    "object-property-newline": 0,
    "func-call-spacing": 2,
    "key-spacing": 2,
    "no-array-constructor": 1,
    "no-const-assign": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-duplicate-imports": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-lone-blocks": 0,
    "dot-location": ["error", "property"],
    "space-infix-ops": ["error", { "int32Hint": false }],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "spaced-comment": ["error", "always", { "exceptions": ["-", "+"] }],
    "object-curly-spacing": ["error", "always"],
    "space-in-parens":  ["error", "always", { "exceptions": ["{}"] }],
    "array-bracket-spacing": ["error", "always"],
    "keyword-spacing": ["error",{"before": true,"after": true}],
    "comma-spacing": ["error",{"before": false,"after": true}]
  }
}
